
h1 {
    text-align: center;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.customheader {
    background-color:  blue;
    margin: auto;
}

.containterfloatleftright {
    float: left;
    float: right;
}
 
.containterfloatleft {
    float: left;
}

.containterfloatright {
    float: right;
}

.margins {
    padding: 250px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}